<!doctype html>
<!-- Server: sfs-consume-2 -->

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]>--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="project" content="cicerowordgener">
        <meta name="description" content="Get Cicero Word Generator at SourceForge.net. Fast, secure and free downloads from the largest Open Source applications and software directory">
        <meta name="keywords" content="Physics,  Open Source, Open Source Software, Development, Community, Source Code, Secure,  Downloads, Free Software">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cicero Word Generator -  Manage Files at SourceForge.net</title>
        <link rel="shortcut icon" href="https://a.fsdn.com/con/img/sftheme/favicon.ico">
        <link rel="cdn" href="https://a.fsdn.com/con">
        <script type="text/javascript">
            /*jslint onevar: false, nomen: false, evil: true, css: true, plusplus: false, white: false, forin: true */
            /*global unescape, window, jQuery, $, net, COMSCORE */
            // Setup our namespace
            if (!window.net) { window.net = {}; }
            if (!window.net.sf) { window.net.sf = {}; }
        </script>
        

<script src="https://a.fsdn.com/con/js/sftheme/modernizr.custom.90514.js"></script>
<!--[if lt IE 7 ]>
  <script src="https://a.fsdn.com/con/js/sftheme/dd_belatedpng.js"></script>
  <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
<![endif]-->
<link href='//fonts.googleapis.com/css?family=Ubuntu:regular' rel='stylesheet' type='text/css'>
<style type="text/css">
    @font-face {
        font-family: "Pictos";
        src: url('https://a.fsdn.com/con/css/fonts/sftheme/pictos-web.eot');
        src: local("☺"), url('https://a.fsdn.com/con/css/fonts/sftheme/pictos-web.woff') format('woff'), url('https://a.fsdn.com/con/css/fonts/sftheme/pictos-web.ttf') format('truetype'), url('https://a.fsdn.com/con/css/fonts/sftheme/pictos-web.svg') format('svg');
    }
</style> 
        <link rel="stylesheet" href="https://a.fsdn.com/con/css/sf.css?1301947713" type="text/css">
        
        <script>
            var _gaq = [['_setAccount', 'UA-32013-6'], ['_trackPageview']];
            (function(d, t) {
                var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                g.async = true;
                g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s);
            })(document, 'script');
        </script>
        
<!-- DoubleClick Random Number -->
<script type="text/javascript">
    var dfp_ord = Math.random() * 10000000000000000;
    var dfp_tile = 1;
    var ad_prefix = '';
    var adspot = '';
    var demandbase = demandbase || '';

    
    var ad_page = '/project/showfiles.php';
    

    var adid = '';
    var sponsored = '';
    var ad_topics = '';
    var dfp_dcopt = 'dcopt=ist;';

    
    var page_id = '';
    

    
    var ad_zone = net.sf.ab_test || 'science';
    if (page_id) {
        ad_prefix = 'https_cons_' + page_id + '_' + ad_zone + '_';
    } else {
        ad_prefix = 'https_cons_' + ad_zone + '_';
    }
    

    var ad_logged_in = 0;
    var ad_search = 0;
    var immersion_adcode = "";
    var dfp_u = '';

    var google_page_url = 'http://sourceforge.net/projects/cicerowordgener';
    var sourceforge_project_name = 'Cicero Word Generator';
    var sourceforge_project_description = 'Cicero is an experiment control software suite specifically designed for controlling atomic physics experiments For more information please see the user manual available by downloading the program ';
    ad_topics = 'tpc=cicerowordgener;';
    
    var google_hints = 'physics,scientific,csharp';
    dfp_u = '20080705_cicerowordgener_Physics';
    ad_topics += 'tpc=physics;tpc=scientific;tpc=csharp;aud=scienceresearch;';
    

</script>
        
    </head>
    <body id="pg_files" class="admin">
        
        <div id="busy-spinner"></div>
        
<header id="site-header">
    <div class="wrapper">
        <a href="/" class="logo">
            <h1>SourceForge</h1>
        </a>
        
        <form method="get" action="/search/">
            <input type="text" id="words" name="q" placeholder="Find Open Source Software">
        </form>
        
        <nav>
            
            <a href="/users/aviv_keshet">Aviv Keshet</a>
            <a href="/account/">Account</a>
            <a href="/account/logout.php">Log Out</a>
            
        </nav>
        
    </div>
</header>
        
<header id="page-header">
    
<section id="project-header">
    <div id="project-icon" class="noneditable">
        <img alt="Cicero Word Generator Icon" src="https://a.fsdn.com/con/img/project_default.png" height="48" width="48"/>
    </div>
    <div id="project-title">
        <div id="project-donate">
            <span class="donate ico-donate">$</span><a href="/project/project_donations.php?group_id=233260">Donate</a>
        </div>
        <h2>Cicero Word Generator</h2>
        <p id="maintainers">
        by
        <a href="/users/aviv_keshet">aviv_keshet</a>
        </p>
        
    </div>
</section>
<nav>
    <div class="firstwave">
 <ul class="b-hornav">
  <li id="menu_consume_summary">
   <a href="/projects/cicerowordgener">
    <span>
     <span>
      Summary
     </span>
    </span>
   </a>
  </li>
  <li id="menu_consume_files" class="selected">
   <a href="/projects/cicerowordgener/files">
    <span>
     <span>
      Files
     </span>
    </span>
   </a>
   <div class="diamond">
   </div>
  </li>
  <li id="menu_consume_reviews">
   <a href="/projects/cicerowordgener/reviews">
    <span>
     <span>
      Reviews
     </span>
    </span>
   </a>
  </li>
  <li id="menu_project_support">
   <a href="/projects/cicerowordgener/support">
    <span>
     <span>
      Support
     </span>
    </span>
   </a>
  </li>
  <li id="menu_project_develop">
   <a href="/projects/cicerowordgener/develop">
    <span>
     <span>
      Develop
     </span>
    </span>
   </a>
   <ul>
    <li id="menu_project_website">
     <a href="http://web.mit.edu/~akeshet/www/Cicero/">
      Web Site
     </a>
    </li>
    <li id="menu_project_screenshots">
     <a href="/project/screenshots.php?group_id=233260">
      Screenshots
     </a>
    </li>
    <li id="menu_project_news">
     <a href="/news/?group_id=233260">
      News
     </a>
    </li>
    <li id="menu_stats">
     <a href="/project/stats/?group_id=233260&amp;ugn=cicerowordgener">
      Project Statistics
     </a>
    </li>
    <li id="menu_download_stats_dist">
     <a href="/downloads/cicerowordgener/stats_timeline">
      Download Stats (Beta)
     </a>
    </li>
   </ul>
  </li>
  <li id="menu_mail">
   <a href="/mail/?group_id=233260">
    <span>
     <span>
      Mailing&nbsp;Lists
     </span>
    </span>
   </a>
   <ul>
    <li id="menu_mlist_cicerowordgener-users">
     <a href="/mailarchive/forum.php?forum_name=cicerowordgener-users">
      cicerowordgener-users
     </a>
    </li>
    <li id="menu_mail_search" class="tools">
     <a href="/search/?group_id=233260&amp;type_of_search=mlists">
      Search Mail Lists
     </a>
    </li>
   </ul>
  </li>
  <li id="menu_newadmin">
   <a href="/project/admin/?group_id=233260">
    <span>
     <span>
      Project&nbsp;Admin
     </span>
    </span>
   </a>
   <ul>
    <li id="menu_editgroupinfo">
     <a href="/project/admin/public_info.php?group_id=233260">
      Settings
     </a>
    </li>
    <li id="menu_features">
     <a href="/project/admin/features.php?group_id=233260">
      Features
     </a>
    </li>
    <li id="menu_userperms">
     <a href="/project/admin/project_membership.php?group_id=233260">
      Members
     </a>
    </li>
    <li id="menu_stats_admin">
     <a href="/project/admin/stats.php?group_id=233260">
      Analytics
     </a>
    </li>
   </ul>
  </li>
 </ul>
</div>
</nav>
</header>

        <div id="messages">
        </div>
        <div id="page-body">
    <noscript>
        <p>The interactive file manager requires Javascript. Please enable it or use <a href="https://sourceforge.net/apps/trac/sourceforge/wiki/Release%20files%20for%20download#SCP">sftp or scp</a>.
        <br/>You may still <em>browse</em> the files here.</p>
    </noscript><div class="download-bar">Looking for the latest version? <strong>
    <a href="http://sourceforge.net/projects/cicerowordgener/files/Cicero-1.40.zip/download" title="/Cicero-1.40.zip:  released on 2010-06-15 20:42:19 EDT">
        <span>Download Cicero 1.40 (75.6 MB)</span>
    </a>
    </strong></div>
    <div id="files">
        
        <div class="files-toolbar btn-bar">
            <div class="btn-set">
                <a href="/projects/cicerowordgener/upload/" class="files-upload btn" title="Add File">
                    <b>Add File</b>
                </a>
                <a href="#folder-create" class="folder-create btn" title="Create Folder">
                    <b>Add Folder</b>
                </a>
            </div>
        </div>
        <div class="files-breadcrumb">
            <span class="actions"><a href="/api/file/index/project-id/233260/mtime/desc/limit/20/rss" title="Monitor this project's files using RSS" data-icon="f" class="ico ico-feed"></a></span>
            
            Home
            
            
        </div>

        <table id="files_list" title="This is a list of the files for this project">
            <col class="name-column">
            <col class="date-column">
            <col class="size-column">
            <col class="status-column">
            <thead>
                <tr>
                    <th title="The file or folder's name" id="files_name_h" class="first">Name</th>
                    <th title="The file or folder's last modified date" id="files_date_h" class="opt">Modified</th>
                    <th title="The file size" id="files_size_h" class="opt">Size</th>
                    <th title="A snapshot of the file or folder's status" id="files_status_h" class="typesort">Status</th>
                </tr>
                
            </thead>
            <tbody>
                
                <tr title="Cicero Word Generator" class="folder warn">
                    <th scope="row" headers="files_name_h"><span data-icon="o" class="ico ico-folder"></span>
                        <a href="/projects/cicerowordgener/files/Cicero%20Word%20Generator/"
                           title="Click to enter Cicero Word Generator"
                           class="name">
                        Cicero Word Generator
                        </a>
                    </th>
                    <td headers="files_date_h" class="opt"><abbr title="2009-02-25 13:35:31 EST">2009-02-25</abbr></td>
                    <td headers="files_size_h" class="opt"></td>
                    <td headers="files_status_h" class="status"><a href="/projects/cicerowordgener/files/Cicero%20Word%20Generator/stats/timeline" class="fs-stats ui-corner-all folder"><img class="fs-sparklines folder" src="https://a.fsdn.com/con/img/gallery/opa75.png" data-src="https://sourceforge.net/downloads/_googlechartapi/chart?cht=ls&amp;chs=20x16&amp;chco=0685c6&amp;chm=B,0685c6,0,0,0&amp;chd=t:5,0,0,0,0,0,0&amp;chds=0,5" title="337 downloads" alt="337 downloads" width="20" height="16" /></a></td>
                </tr>
                <tr title="OldFiles" class="folder warn">
                    <th scope="row" headers="files_name_h"><span data-icon="o" class="ico ico-folder"></span>
                        <a href="/projects/cicerowordgener/files/OldFiles/"
                           title="Click to enter OldFiles"
                           class="name">
                        OldFiles
                        </a>
                    </th>
                    <td headers="files_date_h" class="opt"><abbr title="2008-12-17 17:23:47 EST">2008-12-17</abbr></td>
                    <td headers="files_size_h" class="opt"></td>
                    <td headers="files_status_h" class="status"><a class="fs-stats ui-corner-all no-recent-downloads folder" href="/projects/cicerowordgener/files/OldFiles/stats/timeline" title="3 downloads, none recently."></a></td>
                </tr>
                <tr title="Cicero-1.40.zip" class="file warn">
                    <th scope="row" headers="files_name_h">
                        <a href="http://sourceforge.net/projects/cicerowordgener/files/Cicero-1.40.zip/download"
                           title="Click to download Cicero-1.40.zip"
                           class="name">
                        Cicero-1.40.zip
                        </a>
                    </th>
                    <td headers="files_date_h" class="opt"><abbr title="2010-06-15 20:42:18 EDT">2010-06-15</abbr></td>
                    <td headers="files_size_h" class="opt">75.6 MB</td>
                    <td headers="files_status_h" class="status"><a href="/projects/cicerowordgener/files/Cicero-1.40.zip/stats/timeline" class="fs-stats ui-corner-all file"><img class="fs-sparklines file" src="https://a.fsdn.com/con/img/gallery/opa75.png" data-src="https://sourceforge.net/downloads/_googlechartapi/chart?cht=ls&amp;chs=20x16&amp;chco=0685c6&amp;chm=B,0685c6,0,0,0&amp;chd=t:0,2,0,0,0,1,1&amp;chds=0,5" title="125 downloads" alt="125 downloads" width="20" height="16" /></a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td id="totals"><span class="label">Totals: </span>3 Items</td>
                    <td class="opt">&nbsp;</td>
                    <td headers="files_size_h" class="opt">75.6 MB</td>
                    <td headers="files_status_h">
                        
                    </td>
                </tr>
            </tfoot>
        </table>
        <div id="files-drawer" class="fs-widget fs-drawer">
        </div>
        <div id="folder-create-dialog" class="fs-widget">
            <form method="POST">
                <p><label for="name">Folder name:</label><input id="name" name="name" type="text" value="" title="The name of the folder you are creating"></p>
                <div class="invalid"></div>
                <hr />
                <input type="hidden" name="_visit_cookie" value="4d098d57b6cbcd4bfb001e4e"/>
                <p class="clearfix"><input type="submit" value="Create"></p>
            </form>
        </div>
        <div class="tip">
            <p>You should <a href="https://sourceforge.net/p/forge/documentation/Files-Readme/">add a README file</a>, to provide release notes.  It will be shown right here.</p>
        </div>
    </div>

    

        </div>
        
        <hr id="footer_separator">
          
<footer id="site-footer">
    <nav>
        <a href="/support/">Support</a>
        <a href="/blog/">Blog</a>
        <a href="http://twitter.com/sfnet_ops">Status</a>
        <a href="http://p.sf.net/sourceforge/terms">Terms</a>
        <a href="http://p.sf.net/sourceforge/privacy">Privacy</a>
        <a href="http://geek.net/advertise/">Advertise</a>
        <a href="/about">About</a>
    </nav>
    <div id="copyright">
        &copy; 2011 <a href="http://geek.net" title="Network which provides and promotes Open Source software downloads, development, discussion and news.">Geeknet, Inc.</a>
    </div>
</footer>
            <script src="https://a.fsdn.com/con/js/min.js?1301947713" type="text/javascript"></script>
        
        <!-- Begin comScore Tag -->
        <script type="text/javascript">
            document.write(unescape("%3Cscript src='" + (document.location.protocol === "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js' %3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            if (COMSCORE) {
                COMSCORE.beacon({
                    c1: 2,
                    c2: 6035546,
                    c3: "",
                    c4: "",
                    c5: "",
                    c6: "",
                    c15: ""
                });
            }
        </script>
        <noscript>
            <img src="http://b.scorecardresearch.com/p?c1=2&amp;c2=6035546&amp;c3=&amp;c4=&amp;c5=&amp;c6=&amp;c15=&amp;cj=1" alt="comScore2" />
        </noscript>
        <!-- End comScore Tag -->
        
<script type="text/javascript" src="https://a.fsdn.com/con/js/files.js?1301947713"></script>


<script type="text/html" id="default_platforms_tmpl">
    <%
    var defaults = [
            { value: 'windows', label: 'Windows' },
            { value: 'mac', label: 'Mac OS X' },
            { value: 'linux', label: 'Linux' },
            { value: 'bsd', label: 'BSD' },
            { value: 'solaris', label: 'Solaris' },
            { value: 'others', label: 'Others' }
        ];
    %><div class="drawer-label">
        <span>Default Download For:</span>
    </div>
    <div class="drawer-value">
        <ul>
            <% for (i in defaults) { %>
            <% var v = defaults[i].value, l = defaults[i].label; %>
            <li><label><input type="checkbox" name="default" value="<%= v %>"<% if (this.indexOf(v) >= 0) { %> checked<% } %>><span title="<%= l %>" class="platform-icon <%= v %>"><%= l %></span></label><% } %><li><a href="#select_all" title="Select all">Select all</a>
        </ul>
    </div></script>

<script type="text/html" id="file_drawer_tmpl">
<form class="bp" action="/projects/cicerowordgener/files/<%= this.full_path %>" method="put" id="file_properties_content">
    <table id="drawer_row">
        <col class="name-column">
        <col class="date-column">
        <col class="size-column">
        <col class="status-column">
        <tbody>
            <tr title="<%= this.name %>">
                <td>
                    <input type="text" class="title" name="name" value="<%= this.name %>">
                </td>
                <td class="files-date"></td>
                <td class="files-size"></td>
                <td class="files-status status"></td>
            </tr><tr>
                <td colspan="4" id="name_message" class="invalid hide"></td>
            </tr></tbody>
    </table>
    <div id="file-details">
        <% if (this.type === 'f') { %>
        <div id="file-info">
            <div class="label">
                <span>SHA1:</span>
            </div>
            <div class="value">
                <pre class="selectable"><%= this.sha1 %></pre>
            </div>

            <div class="label">
                <span>MD5:</span>
            </div>
            <div class="value">
                <pre class="selectable"><%= this.md5 %></pre>
            </div>
            <div class="label">
                <span>Download URL:</span>
            </div>
            <div class="value">
                <% if (!this.downloadable) { %>
                    <pre class="selectable" title="This file will be ready for download shortly.">This file will be ready for download shortly.</pre>
                <% } else { %>
                    <pre class="selectable" title="<%= this.download_url %>"><%= this.download_url %></pre>
                <% } %>
            </div>

            <div class="label">
                <label for="download_label">Download Button:</label>
            </div>
            <div class="value">
                <span class="text"><input id="download_label" type="text" class="text" name="download_label" placeholder="Change the label used on the download button" value="<%= this.download_label.replace('\"', '&#34;') %>"></span>
            </div>

            <div class="label">
                <label for="exclude_reports">Exclude Stats:</label>
            </div>
            <div class="value">
                <span class="checkbox"><input type="checkbox" id="exclude_reports" name="exclude_reports" value="1"<% if (this.exclude_reports === true) { %> checked<% } %>></span>
            </div><% if (this.legacy_release_notes) { %>
            <div class="value no-label">
                <span><a href="<%= this.legacy_release_notes %>">Release Notes</a></span>
            </div>
            <% } %>
        </div>

        <div id="download-info">
            <div class="label">
                <span>Downloads:</span>
            </div>
            <div class="value">
                <span><%= (this.downloads === null ? 'Not counted' : this.downloads) %></span>
            </div><div class="label">
                <span>Mirror Status:</span>
            </div>
            <div class="value">
                <span id="mirror_count">Loading ...</span>
            </div><div class="default">
                <span style="display: block; position: static;" class="busy-spinner ui-corner-all"></span>
            </div>
        </div>
        <% } %><hr />
        <p><input type="submit" value="Save"> <a href="#" id="cancel" class="btn link cancel">Cancel</a></p></div>
</form>
</script>

<script type="text/javascript">
    jQuery(function ($) {
        $('#files').files({admin: true});
        var tsConfig = {
            widgets: ['zebra'],
            sortList: [[3, 0], [1, 1]],
            sortForce: [[3, 0]],
            headers: {
                0: { sorter: 'filename' },
                1: { sorter: 'abbrdate' },
                2: { sorter: 'filesize' },
                3: { sorter: 'type'}
            },
            textExtraction: function (node) {
                return node.innerHTML;
            }
        };

        if ($('#files_list tbody tr').length) {
            $('#files_list').tablesorter(tsConfig);
            $('#files_list tr th#parent_folder').unbind();
            $('#files_list tr th.header').not('.typesort').not('#parent_folder').addClass('usersortable').append('<span class="ui-icon fs-toggle"><\/span>');
        }
        /*jslint white: false*/
        net.sf.files = {
            "Cicero Word Generator": {"sha1": "", "name": "Cicero Word Generator", "mirrors": 0, "url": "/projects/cicerowordgener/files/Cicero%20Word%20Generator/", "downloads": 337, "exclude_reports": false, "download_url": "http://sourceforge.net/projects/cicerowordgener/files/Cicero%20Word%20Generator/download", "default": "", "downloadable": false, "path": "", "download_label": "", "md5": "", "type": "d", "full_path": "Cicero Word Generator", "legacy_release_notes": null},
            "OldFiles": {"sha1": "", "name": "OldFiles", "mirrors": 0, "url": "/projects/cicerowordgener/files/OldFiles/", "downloads": 3, "exclude_reports": false, "download_url": "http://sourceforge.net/projects/cicerowordgener/files/OldFiles/download", "default": "", "downloadable": false, "path": "", "download_label": "", "md5": "", "type": "d", "full_path": "OldFiles", "legacy_release_notes": null},
            "Cicero-1.40.zip": {"sha1": "34ad1b35c8bffcd28ea5c27529a976dfc98bfe5f", "name": "Cicero-1.40.zip", "mirrors": 0, "url": "/projects/cicerowordgener/files/Cicero-1.40.zip/", "downloads": 125, "exclude_reports": false, "download_url": "http://sourceforge.net/projects/cicerowordgener/files/Cicero-1.40.zip/download", "default": "linux,mac,windows,bsd,solaris,others", "downloadable": true, "path": "", "download_label": "Cicero 1.40", "md5": "77a8005f14d9e31e68840b11ca77a1ef", "type": "f", "full_path": "Cicero-1.40.zip", "legacy_release_notes": null}
            };
        $('.fs-sparklines').each(function(){
            $(this).attr('src', $(this).attr('data-src'));
        });
    });
</script>

    </body>
</html>