<configuration>

  <system.runtime.remoting>

    <application>

      <service>

        <wellknown 

           mode="Singleton" 

           type="SimplicioServer, RemotableType" 

           objectUri="SimServer.rem"

            />

      </service>

      <channels>

        <channel ref="tcp" port="5678"/>

      </channels>

    </application>

  </system.runtime.remoting>

</configuration>

