AvivFPGA2.bld
AvivFPGA2.cmd_log
AvivFPGA2.lso
AvivFPGA2.ncd
AvivFPGA2.ngc
AvivFPGA2.ngd
AvivFPGA2.ngr
AvivFPGA2.pad
AvivFPGA2.par
AvivFPGA2.pcf
AvivFPGA2.prj
AvivFPGA2.ptwx
AvivFPGA2.stx
AvivFPGA2.syr
AvivFPGA2.twr
AvivFPGA2.twx
AvivFPGA2.unroutes
AvivFPGA2.xpi
AvivFPGA2.xst
AvivFPGA2_envsettings.html
AvivFPGA2_map.map
AvivFPGA2_map.mrp
AvivFPGA2_map.ncd
AvivFPGA2_map.ngm
AvivFPGA2_map.xrpt
AvivFPGA2_ngdbuild.xrpt
AvivFPGA2_pad.csv
AvivFPGA2_pad.txt
AvivFPGA2_par.xrpt
AvivFPGA2_summary.xml
AvivFPGA2_usage.xml
AvivFPGA2_xst.xrpt
_ngo/
_xmsgs/map.xmsgs
_xmsgs/ngdbuild.xmsgs
_xmsgs/par.xmsgs
_xmsgs/trce.xmsgs
_xmsgs/xst.xmsgs
webtalk_pn.xml
xlnx_auto_0_xdb/cst.xbcd
xst/
*.html
AvivFPGA2.ut
AvivFPGA2_bitgen.xwbt
_xmsgs/bitgen.xmsgs
_xmsgs/pn_parser.xmsgs
avivfpga2.bgn
avivfpga2.drc
webtalk.log
*.ncd
*.gise
