<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- commented out to hopefully resolve assembly version hell
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="4544464CDEAAB541" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.5.20.149" newVersion="8.5.20.149"/>
			</dependentAssembly>
      -->
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="18CBAE0F9955702A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.1.35.159" newVersion="9.1.35.159"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
