<?xml version="1.0"?>
<configuration>
  <!--This "legacy" line is necessary because it seems the NI libraries are built against .NET 2.0, and since
  the upgrade to 4.0, the two versions are sufficiently far apart that I guess you have to explictly make it clear
  that using .NET 2.0 things is okay. In summary, I have no idea what this does except now Atticus runs properly.
   -->
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  
  
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- commented out to hopefully resolve assembly version hell
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="4544464CDEAAB541" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.5.20.149" newVersion="8.5.20.149"/>
			</dependentAssembly>
      -->
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
